{% style %}
.custom-image-text-wrapper {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media(max-width: 768px) {
    .custom-image-text-wrapper {
        padding-top: {{ section.settings.mobile_padding_top }}px;
        padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }   
}
{% endstyle %}


<div class="custom-image-text-wrapper custom-page-width">
    <div class="section-header">
        <h2 class="title">{{ section.settings.title }}</h2>
        <p class="subtitle">{{ section.settings.subtitle }}</p>
    </div>
    <div class="section-image-text">
        {% for block in section.blocks %}
            <div class="item mobile {% if block.settings.direction == "left" %} image-left {% endif %}">
                <div class="item-text">
                    <h2 class="title">{{ block.settings.title }}</h2>
                    <p class="content">{{ block.settings.content }}</p>
                </div>
                <div class="item-image">
                    <img src="{{ block.settings.image_desktop | img_url: 'master' }}" alt="image" class="lazy desktop">
                    <img src="{{ block.settings.image_mobile | img_url: 'master' }}" alt="image" class="lazy mobile">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
    {
        "name": "Custom image text",
        "settings": [
            {
              "type": "header",
              "content": "Heading"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "subtitle",
              "label": "Sub title"
            },
            {
              "type": "range",
              "id": "padding_top",
              "min": 0,
              "max": 100,
              "step": 10,
              "unit": "px",
              "label": "Padding top",
              "default": 50 
            },
            {
              "type": "range",
              "id": "padding_bottom",
              "min": 0,
              "max": 100,
              "step": 10,
              "unit": "px",
              "label": "Padding bottom",
              "default": 50 
            },
            {
              "type": "range",
              "id": "mobile_padding_top",
              "min": 0,
              "max": 60,
              "step": 10,
              "unit": "px",
              "label": "Mobile padding top",
              "default": 40 
            },
            {
              "type": "range",
              "id": "mobile_padding_bottom",
              "min": 0,
              "max": 60,
              "step": 10,
              "unit": "px",
              "label": "Mobile padding bottom",
              "default": 40 
            }
        ],
        "blocks": [
          {
            "name": "image-text",
            "type": "image",
            "settings": [
               {
                 "type": "text",
                 "id": "title",
                 "label": "Title"
               },
               {
                 "type": "text",
                 "id": "content",
                 "label": "Text"
               },
               {
                 "type": "image_picker",
                 "id": "image_desktop",
                 "label": "Desktop Image"
               },
               {
                 "type": "image_picker",
                 "id": "image_mobile",
                 "label": "Mobile Image"
               },
               {
                 "type": "select",
                 "id": "direction",
                 "label": "Left and Right",
                 "options": [
                   {
                     "value": "left",
                     "label": "Left image"
                   },
                   {
                     "value": "right",
                     "label": "Right image"
                   }
                   
                 ],
                 "default": "right"
               }
            ]
          }
        ],
        "presets": [
            {
                "name": "Custom image text",
                "category": "Image",
                "blocks": [
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    },
                    {
                        "type": "image"
                    }                    
                ]
            }
        ]
    }
{% endschema %}
