{% style %}
  .custom-featured-media .featured-media-wrapper {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .featured-media-wrapper {
      position: relative;
  }
  .section-media .prev-arrow {
      position: absolute;
      top: 37%;
      left: -26.5px;
  }
  .section-media .next-arrow {
      position: absolute;
      top: 37%;
      right: -26.5px;
  }
  .slick-slide {
      text-align:center;
      margin-right:12px;
      margin-left:12px;
  }
  .slick-dots li button {
      background: #EDFBFB;
      border-radius: 50%;
      width: 14px;
      height: 14px;
  }

  .slick-dots li.slick-active button::before {
      color: #42D59A;
      opacity: 1;
      font-size: 50px;
  }
  .slick-dots {
      bottom: -50px;
  }
  .slick-dots li button::before {
      color: #fff;
      width: 14px;
      height: 14px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 36px;
  }
  .slick-dots li button::before {
    top: -3px;
  }
  @media(max-width: 768px) {
      .custom-featured-media .featured-media-wrapper {
          padding-top: {{ section.settings.mobile_padding_top }}px;
          padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }
      .slick-dots {
        padding-bottom: -40px;
      }

  }
  
{% endstyle %}

<script src="{{ 'c_custom-slider.js' | asset_url }}" defer="defer"></script>

<div class="featured-media-wrapper custom-page-width {% if section.settings.layout_variant == "landscape" %}landscape{% endif %}" data-image-count="{{section.settings.image_count}}" >
  <div class="section-header">
    <h2 class="title desktop">{{ section.settings.title_desktop }}</h2>
    <h2 class="title mobile">{{ section.settings.title_mobile }}</h2>
    <p class="subtitle">{{ section.settings.subtitle }}</p>
  </div>
  {% for block in section.blocks %}
    {% assign index = forloop.index %}
  {% endfor %}

  {% if section.settings.layout_variant == "squares" %}
    <div class="desktop squares section-media {% if index >= section.settings.image_count %} custom-slider{% endif %}">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">  
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}

              <div class="video-section">
                {%- if html_video != blank  -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                  {%- elsif external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                  
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <div class="mobile squares section-media custom-slider">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">  
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}
              <div class="video-section">
                {%- if external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                {%- elsif html_video != blank -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.layout_variant == "squar_landscape" %}
    <div class="desktop squar_landscape section-media {% if index > section.settings.image_count %} custom-slider{% endif %}">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">
  
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}
              <div class="video-section">
                {%- if external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                {%- elsif html_video != blank -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <div class="mobile squar_landscape section-media custom-slider">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">
  
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}
              <div class="video-section">
                {%- if external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                {%- elsif html_video != blank -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.layout_variant == "landscapes" %}
    <div class="desktop landscapes section-media {% if index > section.settings.image_count %} custom-slider{% endif %}">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}
              <div class="video-section">
                {%- if external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                {%- elsif html_video != blank -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <div class="mobile landscapes section-media custom-slider">
      {% for block in section.blocks %}
        <div class="media-item">
          {% case block.type %}
            {% when 'image' %}
              <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                  height="{{ block.settings.gallery_image.height }}">
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
            {% when 'media' %}
              {%- assign html_video = block.settings.video -%}
              {%- assign video_link = block.settings.video_link -%}
  
              {%- if video_link contains 'youtube.com/watch' -%}
                {%- assign video_id = video_link | split: 'v=' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'youtu.be/' -%}
                {%- assign video_id = video_link | split: '.be/' -%}
                {%- assign video_id = video_id[1] | split: '&' | first -%}
                {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- elsif video_link contains 'vimeo.com/' -%}
                {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                {%- assign video_id = video_id[1] | split: '?' | first -%}
                {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                {%- assign external_video = true -%}
              {%- endif -%}
              <div class="video-section">
                {%- if external_video -%}
                  <iframe
                    class="block custom-media youtube"
                    src="{{ video_url }}"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    id="video"
                  > 
                  </iframe>
                {%- elsif html_video != blank -%}
                  {{
                    html_video
                    | video_tag:
                      controls: true,
                      preload: 'none',
                      image_size: image_size,
                      class: 'block custom-media',
                      id: 'video'
                  }}
                {%- endif -%}
                <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                  <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                </svg>
                
                <div class="cover-image">
                  {% if block.settings.cover_image %}
                    <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                  {% endif %}
                </div>
              </div>
              <div class="gallery-content">
                <p class="gallery-image-title">{{ block.settings.title }}</p>
                <p class="gallery-image-content">{{ block.settings.content }}</p>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.layout_variant == "landscape" %}
    <div class="landscape section-media {% if index > section.settings.image_count %} custom-slider{% endif %}">
        {% for block in section.blocks %}
            <div class="media-item">
            {% case block.type %}
              {% when 'image' %}
                <img src="{{ block.settings.gallery_image | img_url: 'master'}}" alt="image" class="lazy" width="{{ block.settings.gallery_image.width }}"
                    height="{{ block.settings.gallery_image.height }}">
                <div class="gallery-content">
                    <p class="gallery-image-title">{{ block.settings.title }}</p>
                    <p class="gallery-image-content">{{ block.settings.content }}</p>
                </div>
              {% when 'media' %}
                {%- assign html_video = block.settings.video -%}
                {%- assign video_link = block.settings.video_link -%}
    
                {%- if video_link contains 'youtube.com/watch' -%}
                  {%- assign video_id = video_link | split: 'v=' -%}
                  {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                  {%- assign external_video = true -%}
                {%- elsif video_link contains 'youtu.be/' -%}
                  {%- assign video_id = video_link | split: '.be/' -%}
                  {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id -%}
                  {%- assign external_video = true -%}
                {%- elsif video_link contains 'vimeo.com/' -%}
                  {%- assign video_id = video_link | split: 'vimeo.com/' -%}
                  {%- assign video_id = video_id[1] | split: '?' | first -%}
                  {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id -%}
                  {%- assign external_video = true -%}
                {%- endif -%}
                <div class="video-section">
                  {%- if external_video -%}
                    <iframe
                      class="block custom-media youtube"
                      src="{{ video_url }}"
                      frameborder="0"
                      allow="fullscreen"
                      allowfullscreen
                      id="video"
                    > 
                    </iframe>
                  {%- elsif html_video != blank -%}
                    {{
                      html_video
                      | video_tag:
                        controls: true,
                        preload: 'none',
                        image_size: image_size,
                        class: 'block custom-media',
                        id: 'video'
                    }}
                  {%- endif -%}
                  <svg class="play-btn" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="black" fill-opacity="0.8"/>
                    <path d="M15.6994 11.4626C15.2535 11.1885 14.6931 11.1794 14.2382 11.4355C13.7832 11.6916 13.5 12.1737 13.5 12.6979V23.3032C13.5 23.8274 13.7832 24.3095 14.2382 24.5656C14.6931 24.8217 15.2535 24.8096 15.6994 24.5385L24.3764 19.2358C24.8073 18.9737 25.0694 18.5067 25.0694 18.0005C25.0694 17.4944 24.8073 17.0304 24.3764 16.7653L15.6994 11.4626Z" fill="white"/>
                  </svg>
                  
                  <div class="cover-image">
                    {% if block.settings.cover_image %}
                      <img src="{{ block.settings.cover_image | image_url: width: 360 }}" loading="lazy" alt="cover image" width="{{ block.settings.cover_image.width }}" height="{{ block.settings.cover_image.height }}">
                    {% endif %}
                  </div>
                </div>
                <div class="gallery-content">
                  <p class="gallery-image-title">{{ block.settings.title }}</p>
                  <p class="gallery-image-content">{{ block.settings.content }}</p>
                </div>
            {% endcase %}
            </div>
        {% endfor %}
    </div>
  {% endif %}

</div>

<script>

  document.querySelectorAll('.play-btn').forEach(item => {
    console.log("start")
    item.addEventListener("click", function() {
      this.classList.add('hidden');
      var coverImg = this.closest('.video-section').querySelector('.cover-image');
      coverImg.classList.add('hidden');

      var video = item.closest('.video-section').querySelector('.custom-media');
      
      video.play();

      video.addEventListener("click", function() {
        if (this.paused) {
            this.play();
            this.closest('.video-section').querySelector('.play-btn').classList.remove('hidden');
          } else {
            this.pause();
            this.closest('.video-section').querySelector('.play-btn').classList.add('hidden');
          }  
        });
      });   
  })

  
</script>



{% schema %}
{
  "name": "Custom featured media",
  "class": "custom-featured-media",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "select",
      "id": "layout_variant",
      "label": "Layout Variant",
      "options": [
        {
          "value": "squares",
          "label": "3 Square"
        },
        {
          "value": "squar_landscape",
          "label": "1 Square + 1 Landscape"
        },
        {
          "value": "landscapes",
          "label": "2 Landscape"
        },
        {
          "value": "landscape",
          "label": "1 Landscape"
        }
      ],
      "default": "squares"
    },
    {
      "type": "text",
      "id": "title_desktop",
      "label": "Desktop Title"
    },
    {
      "type": "richtext",
      "id": "title_mobile",
      "label": "Mobile Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub title"
    },
    {
      "type": "range",
      "id": "image_count",
      "min": 2,
      "max": 4,
      "step": 1,
      "unit": "n",
      "label": "Image count",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 60,
      "step": 10,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 60,
      "step": 10,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "gallery_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "content"
        }
      ]
    },
    {
      "name": "media",
      "type": "media",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "video_url",
          "id": "video_link",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "info": "Streaming video source from YouTube or Vimeo."          
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Cover image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom featured media",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
